/* WEATHER APP */

.weather-app-wrapper {
  flex: 2;
  position: relative;
  height: auto;
  flex-direction: column;
}

.weather-app {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  justify-content: start;
  align-items: center;
  min-height: 50vh;
  height: auto;
  margin-inline: var(--space-s);
}

.weather-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: var(--space-s);
}

.weather-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: var(--space-s);
  gap: var(--space-s);
}

.weather-input {
  background: linear-gradient(274deg, rgba(135, 88, 255, 1) 0%, rgba(157, 118, 203, 1) 100%);
  background-image: url('../../public/icons8-search-64.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 12px 20px 12px var(--space-l-2xl);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: var(--space-2xs-l);
  color: white;
  width: 100%;
  margin: var(--space-3xs-xs);
}

.weather-input::placeholder {
  color: rgb(192, 189, 189);
}

.weather-btn {
  max-width: 50%;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
  padding: 5px;
  background: linear-gradient(274deg, rgba(135, 88, 255, 1) 0%, rgba(157, 118, 203, 1) 100%);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  font-size: var(--fluid-11-20);
}

.weather-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  padding: 20px;
  background: linear-gradient(274deg, rgba(135, 88, 255, 1) 0%, rgba(157, 118, 203, 1) 100%);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: var(--space-xs-l);
}

.no-weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.widget-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  min-height: 100%;
  gap: var(--space-s);
}

.widget-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.temp-and-sun-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex: 2;
  height: 100%;
}

.temp-and-sun-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  width: 100%;
  height: 100%;
}

.temp,
.current-temp,
.feels-like-temp,
.sun-info,
.sunrise,
.sunset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: var(--space-l);
  width: 100%;
  font-size: var(--step-4);
  color: white;
}

.current-temp {
  font-size: 8rem;
}

.weather-icon-container {
  flex: 1;
  height: 100%;
}

.weather-icon-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

.weather-icon-img {
  display: flex;
  justify-content: center;
  margin-top: var(--space-s-2xl);
}


.weather-info-container {
  flex: 2;
  height: 80%;
}

/* ----------------- */

@media (max-width: 576px) {

  .weather-app-wrapper {
    flex: none;
    width: 100%;
  }
}

@media (max-width: 1600px) {
  .widget-info {
    flex-direction: column;
    gap: var(--space-l);
  }
}