/* WEATHER APP */

.weather-app-wrapper {
  flex: 2;
  position: relative;
  height: auto;
  flex-direction: column;
}

.weather-app {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-inline: var(--space-s);
}

.weather-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: var(--space-s);
}

.weather-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: var(--space-s);
}

.weather-input {
  background: linear-gradient(274deg, rgba(135, 88, 255, 1) 0%, rgba(157, 118, 203, 1) 100%);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: var(--space-xs-l);
  color: white;
  width: 100%;
  margin: var(--space-3xs-xs);
}

.weather-btn {
  background: linear-gradient(274deg, rgba(135, 88, 255, 1) 0%, rgba(157, 118, 203, 1) 100%);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.weather-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(274deg, rgba(135, 88, 255, 1) 0%, rgba(157, 118, 203, 1) 100%);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-size: var(--space-xs-l);
}

/* ----------------- */

@media (max-width: 576px) {

  .weather-app-wrapper {
    flex: none;
    width: 100%;
  }

  .weather-app {
    height: auto;
    min-height: 50vh;
  }
}