@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './utopia.css';

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space-l);
  overflow-y: scroll;
  scrollbar-width: thin;
  width: 100vw;
}

.App {
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  margin-inline: var(--space-3xs);
}

h1 {
  color: #fff;
  margin-bottom: var(--space-xs);
  font-size: var(--step-4);
}

.dropdown-label {
  color: white;
  font-size: var(--step--1);
}

#dropdown {
  background: #1A1A40;
  color: white;
  border: white;
  padding: var(--space-3xs);
  margin: var(--space-3xs) 0 0 var(--space-3xs);
  font-size: var(--step--2);
}

.TodoWrapper {
  background: #1A1A40;
  margin-block: var(--space-l);
  padding: var(--space-m);
  border-radius: 5px;
  max-width: 100%;
}

.TodoForm {
  width: 100%;
  margin-bottom: var(--space-xs);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  background: none;
  border: 1px solid #8758ff;
  padding: var(--space-2xs);
  margin-top: var(--space-s);
  margin-bottom: var(--space-m);
  width: 100%;
  max-width: calc(100% - var(--space-l));
  font-size: var(--step--3);
  color: white;
}

.todo-input::placeholder {
  color: #ffffff4d;
  white-space: nowrap;
  overflow: visible;
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: var(--space-2xs);
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  padding: var(--space-2xs) var(--space-xs);
  border-radius: 5px;
  margin-bottom: var(--space-s);
}
.Todo-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Todo-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.task {
  cursor: pointer;
}

.fa-trash,
.cancel-delete {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon,
.checkMark-icon,
.cancel-delete {
  cursor: pointer;
}