@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './utopia.css';

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  min-width: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  width: 50%;
  margin: auto;
}

.TodoWrapper h1 {
  color: #fff;
  font-size: var(--space-s-2xl);
}

.dropdown-menu {
  max-width: 100%;
  margin: var(--space-s);
  box-sizing: border-box;
}

.dropdown-label {
  color: white;
  margin-right: var(--space-xs);
  font-size: var(--space-2xs-l);
}

#dropdown {
  max-width: 100%;
  background: #1A1A40;
  color: white;
  border: white;
  font-size: var(--space-2xs-m);
  margin-inline: auto;
}

.TodoWrapper {
  width: 100%;
  margin-block: var(--space-xs-l);
  background: #1A1A40;
  border-radius: 5px;
  padding: var(--space-xs-l);
}

.TodoForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: var(--space-s);
}

.todo-input {
  background: none;
  border: 1px solid #8758ff;
  font-size: var(--space-xs-l);
  color: white;
  width: 100%;
  margin: var(--space-3xs-xs);
}

.todo-input::placeholder {
  color: #ffffff4d;
  white-space: nowrap;
  font-size: var(--space-2xs-l);
}

.todo-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-block: var(--space-s);
  width: 50%;
  padding: var(--space-2xs);
}

.TodoContainer {
  padding: var(--space-xs);
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #8758ff;
  color: #fff;
  border-radius: 5px;
  padding: var(--space-xs);
  max-width: 100%;
}

.Todo-details-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--space-2xs-l);
  width: 50%;
}

.Todo-details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.task {
  cursor: pointer;
}

.fa-trash,
.cancel-delete {
  margin-left: var(--space-2xs);
  
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon,
.checkMark-icon,
.cancel-delete {
  cursor: pointer;
}