@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './utopia.css';

* {
    font-family: "Figtree", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #8758ff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  scrollbar-width: thin;
  min-width: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.app-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (max-width: 1067px) {
  .app-wrapper {
    flex-direction: column;
  }
}